
body {
    margin: 0;

}

header {
    background-image: url("Remote Retrospectives using Targetprocess.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-basis: 100%;
    height: 860px;
    z-index: 0;
}

nav {
    display: flex;
    z-index: 1;
    flex-basis: 100%;
    justify-content: space-between;
    padding: 15px 20px;
}

nav .nav-top-left-menu {
    display: flex;
    gap: 0 30px;
}

nav .nav-top-right-menu {
    display: flex;
    gap: 0 40px;
    justify-content: flex-end;
}

nav .nav-top-right-menu .search-logo {
    content: url("research.png");
    height: 13px;

}


.nav-text {
    font-family: Fira Sans, sans-serif;
    font-size: 11px;
    align-items: center;
}

.nav-text:hover {
    cursor: pointer;
}

.nav-text .menu-logo-text {
    display: flex;
    gap: 0 5px;
}

.nav-text .logo-icn {
    content: url("Group 73.svg");
    height: 13px;
}

.nav-text .nav-menu-text-white {
    color: white;
}

.nav-text .nav-menu-text-green {
    color: #5da75c;
}

.nav-text .bubble {
    background-color: #5da75c;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    padding: 8px 18px;
}

.header-bottom-part {
    display: flex;
    gap: 130px;
    margin: 200px 60px;
}

.left-side-text-logo {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.logo-cont {
    display: flex;
    gap: 0 20px;
}

.header-logo {
    max-width: 90px;
    max-height: 90px;
}

.header-text {
    font-size: 60px;
    color: white;
    max-width: 500px;
    text-align: left;
}

.header-menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.header-menu-text {
    font-family: Fira Sans, sans-serif;
    font-size: 11px;
    color: white;
    z-index: 1;
}

.header-menu-text:hover {
    cursor: pointer;

}


.header-menu-text:hover + .bc-text {
    display: block;

}

.bc-text {
    font-family: Fira Sans, sans-serif;
    font-size: 200px;
    position: absolute;
    z-index: 0;
    color: rgba(255, 255, 255, 0.2);
    top: 140px;
    display: none;
}

header .under-text {
    color: white;
    font-family: Fira Sans, sans-serif;
    font-size: 10px;
    margin: 250px 60px;
}

main {
    font-family: Fira Sans, sans-serif;
    display: flex;
    gap: 20px;
    justify-content: center;
}


.main-content {
    flex-grow: 1;
    margin: 80px 50px;
    flex-basis: 70%;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.main-text {
    font-size: 22px;
    margin-top: 25px;
}

.text-header {
    font-size: 36px;
}

.image {
    display: flex;
    max-width: 400px;
}

.main-nav-menu {
    flex-basis: 30%;
    min-width: 200px;
    margin: 80px 50px;
    font-size: 10px;
    position: sticky;
}

ul {
    margin: 20px
}

.main-nav-menu .circle-text {
    position: relative;
    margin-bottom: 20px;
}

.main-nav-menu .text {
    font-size: 15px;
    border-bottom-style: solid;
    border-color: rgba(128, 128, 128, 0.2);
    padding: 0 150px 20px 0;
}

.nav-header {
    padding: 0 0 0 58px;
}

li {
    list-style: none;
}

.circle {
    border-radius: 20px;
    position: absolute;
}

.circle-active {
    padding: 5px;
    background-color: #f6d973;
    top: 4px;
    left: -22px;
}

.circle-unactive {
    padding: 2px;
    background-color: #e5e5e5;
    top: 6px;
    left: -20px;
}


/*@media all and (max-width: 1024px) {
    .main-nav-menu {
        display: none;
    }

    .main-content {
        flex-basis: 100%;
    }
}*/