
body {
    margin: 0;
}

header {
    background-image: url("Remote Retrospectives using Targetprocess.png");
    font-family: Fira Sans, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-basis: 100%;
    height: 860px;
    z-index: 0;
}

nav {
    display: flex;
    z-index: 1;
    flex-basis: 100%;
    justify-content: space-between;
    padding: 15px 20px;
}

nav .nav-top-left-menu {
    display: flex;
    gap: 0 30px;
}

nav .nav-top-right-menu {
    display: flex;
    gap: 0 40px;
    justify-content: flex-end;
}

nav .nav-top-right-menu .search-logo {
    content: url("research.png");
    height: 13px;

}


.nav-text {
    font-size: 11px;
    align-items: center;
}

.nav-text:hover {
    cursor: pointer;
}

.nav-text .menu-logo-text {
    display: flex;
    gap: 0 5px;
}

.nav-text .logo-icn {
    content: url("Group 73.svg");
    height: 13px;
}

.nav-text .nav-menu-text-white {
    color: white;
}

.nav-text .nav-menu-text-green {
    color: #5da75c;
}

.nav-text .bubble {
    background-color: #5da75c;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    padding: 8px 18px;
}

.header-bottom-part {
    display: flex;
    gap: 400px;
    margin: 200px 60px;
}

.left-side-text-logo {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.logo-cont {
    display: flex;
    gap: 0 20px;
}

.header-logo {
    max-width: 90px;
    max-height: 90px;
}

.header-text {
    font-size: 60px;
    color: white;
    max-width: 500px;
    text-align: left;
}

.header-menu {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 20px;
}

.header-menu-text {
    font-size: 15px;
    color: white;
    z-index: 1;
}

.header-menu-text:hover {
    cursor: pointer;

}


.header-menu-text:hover + .bc-text {
    display: block;

}

.bc-text {
    font-size: 200px;
    position: absolute;
    z-index: 0;
    color: rgba(255, 255, 255, 0.2);
    top: 140px;
    display: none;
}

header .under-text {
    color: white;
    font-size: 10px;
    margin: 250px 60px;
}

main {
    display: flex;
    justify-content: center;
    font-family: open-sans, sans-serif;
}


.main-content {
    flex-grow: 1;
    margin: 80px 80px;
    flex-basis: 70%;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.main-text {
    font-size: 22px;
    margin-top: 25px;
}

.text-header {
    font-size: 36px;
}

.image-div {
    position: relative;
}

.image {

}

.image1 {
    background-image: url("image 26.jpg");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 353px;
}

.image-text {
    font-size: 12px;
    margin-top: 30px;
}

.image-button-right {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    transform: rotate(45deg);
    background-color: #5da75c;
    top: 80px;
    right: 275px;
}

.image-button-left {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    transform: rotate(45deg);
    background-color: #a8cfa8;
    top: 95px;
    left: -15px;

}

.image-button-icon {
    background-image: url("next-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-size: cover;
    position: relative;

}

.image-button-icon-left {
    width: 30px;
    height: 35px;
    transform: rotate(133deg);
    top: 4px;
    left: 4px;

}

.image-button-icon-right {
    top: 15px;
    left: 24px;
    width: 30px;
    height: 35px;
    transform: rotate(320deg);
}


.switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-bottom: 15px;
}

.switcher-circle {
    padding: 6px;
    display: inline-block;
    border-radius: 20px;
}

.switcher-circle-blue {
    background-color: rgba(22, 140, 186, 0.6);
    position: absolute;
    top: 21%;
    left: 21%;
}

.switcher-circle-bg {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(22, 140, 186, 0.3);
}

.switcher-circle-bg::after {
    width: 25%;
    height: 25%;
    content: "";
    background-color: white;
}

.switcher-circle-pink {
    background-color: rgba(255, 192, 203, 0.5);
}

.switcher-circle-lime {
    background-color: rgba(0, 255, 0, 0.2);
}

.main-nav-menu {
    flex-basis: 30%;
    min-width: 200px;
    margin: 80px 50px;
    font-size: 10px;
    position: sticky;
    top: 100px;
    align-self: flex-start;
}

.ul-sticky {
    margin: 20px
}

.main-nav-menu .circle-text {
    position: relative;
    margin-bottom: 20px;
}

.main-nav-menu .text {
    font-size: 15px;
    border-bottom-style: solid;
    border-color: rgba(128, 128, 128, 0.2);
    padding: 0 150px 20px 0;
}

.nav-header {
    padding: 0 0 0 58px;
}

li {
    list-style: none;
}

.circle {
    border-radius: 20px;
    position: absolute;
}

.circle-active {
    padding: 5px;
    background-color: #f6d973;
    top: 4px;
    left: -22px;
}

.circle-unactive {
    padding: 2px;
    background-color: #e5e5e5;
    top: 6px;
    left: -20px;
}

footer {

}

.footer-green-half {
    background-color: #65a858;
    display: flex;
    gap: 100px;
    min-height: 433px;
}

.footer-green-half .footer-green-text-cont {
    flex-basis: 50%;
    flex-grow: 1;
    margin: 80px 0 0 80px;

}

.footer-green-half .footer-green-main-text {
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
}

.footer-green-half .footer-green-text {
    color: white;
    font-size: 16px;
    margin-bottom: 50px;
}

.footer-button-lets-stats {
    background-color: #eec515;
    border-radius: 30px;
    padding: 10px 35px;
    position: absolute;
}

.footer-button-lets-stats:hover {
    cursor: pointer;
}

.footer-img {
    flex-basis: 20%;
}

.footer-green-text-right-cont {
    margin: 80px 80px 0 0;
    flex-basis: 30%;
}

.footer-green-half .footer-green-right-text {
    color: white;
    font-size: 28px;
    margin-bottom: 50px;
}

.footer-button-contact-sales {
    border-radius: 30px;
    padding: 10px 35px;
    position: absolute;
    color: white;
    background-color: transparent;
    border-color: white;
    border-style: solid;
}

.footer-button-contact-sales:hover {
    cursor: pointer;
}

.footer-black {
    background-color: black;
}

.footer-black-main{
    padding:  50px 80px;
}

.footer-black-header-cont {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.5);
    display: flex;
}


.footer-black .footer-black-header {
    color: white;
    font-size: 60px;
    width: 50%;
    text-align: center;
    padding: 60px 0;
}

.footer-black .left-side-text {
    border-right-style: solid;
    border-width: 1px;
    border-color: grey;
}

.footer-black .right-side-text {
    padding: 60px 0;
}

.footer-ul-cont {
    display: flex;
    gap: 300px;
}

.li-cont {
    color: rgba(255, 255, 255, 0.3);
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 250px;
}

.li-cont > li:first-child {
    color: rgba(255, 255, 255, 0.75);
}


h1{
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
    margin: 0;
    display: inline-block;
}

h2 {
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
    margin: 0;
}

h3 {
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
    margin: 0;

}


ul {
    padding: 0;
}



/*@media all and (max-width: 1024px) {
    .main-nav-menu {
        display: none;
    }

    .main-content {
        flex-basis: 100%;
    }
}*/